[Unit]
Description = Live camera daemon
Requires=network-online.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart = /usr/bin/python3 /home/pi/ejestream.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target

